.auth__link {
  display: block;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: hsla(0, 0%, 100%, 1);
  transition: .4s all ease;
}

.auth__link:hover{
  opacity: .6;
  cursor: pointer;
} 